{% assign images = include.images | split: ',' %}

{% if include.column == "auto" %}
{% assign column = 100.0 | divided_by: images.size %}
{% elsif include.column > 0 %}
{% assign column = 100.0 | divided_by: include.column %}
{% endif %}

<div class="aligner">
    <div class="imgrow">
        {% for image in images %}
        <div {% if column %} style="flex: {{ column }}%" {% else %} class="imgcolumn" {% endif %}  >
            <img {% if images.size == 1 %}class="single"{% endif %}
                 src="{{ image | prepend: 'assets/img/' | relative_url }}"
                 alt="{{ image | prepend: '/' | split: '/' | last }}"
                 {% if include.width %}style="width: {{include.width}}%"{% endif %}>
        </div>
        {% endfor %}
    </div>
    {% if include.caption %}
    <figcaption>{{ include.caption }}</figcaption>
    {% endif %}
</div>

{% assign column = false %}
