<div class="sidebar">
<div id="toc" class="toc"></div>
<script>
$(function() {
  var toc = $('#toc')
  tocbot.init({
    tocSelector: '#toc',
    contentSelector: 'article',
    headingSelector: 'h1, h2, h3',
    collapseDepth: 3,
  });
  {% comment %} var offset = toc.offset(); {% endcomment %}
  {% comment %} toc.width(toc.width()); {% endcomment %}
/*
  $(window).scroll(function () {
    if (!window.matchMedia("only screen and (max-width: 768px)").matches && $(window).scrollTop() > offset.top) {
      toc.addClass('fixed');
    } else {
      toc.removeClass('fixed');
    }
  });
*/
});
</script>
</div>
